@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Comfortaa', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
  }
.line {
    font-family: 'Comfortaa', cursive;
    font-weight: light;
  }

/* Style */
* {
  font-family: 'Comfortaa';
}


html,
body,
#root {
  height: 100vh;
  width: 100vh;
}

#root {
  overflow-y: auto;
}

.hero {
  @apply fixed top--10 bottom-0 left-0 right-0;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
